@import url("https://fonts.googleapis.com/css?family=Hind:300,400");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=OpenSans");
.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter: brightness(0.8);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("./codingBG1.jpg");
}
.content {
  background: black;
  color: violet;
}
.accordion > input[type="radio"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="radio"]:checked ~ .content {
  height: auto;
  overflow: visible;
  padding: 15px;
  border: 1px solid black;
  border-top: 0;
  border-radius: 12px;
  box-shadow: 2px 1px 11px 2px violet;
}

.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="radio"]:checked ~ .content {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
  box-shadow: 2px 1px 11px 2px violet;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  display: block;
  color: white;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #3d2e3d;
  border-radius: 12px;
}

.accordion label:hover,
.accordion label:focus {
  background: #d8d8d8;
}

.accordion .handle label:before {
  font-family: "fontawesome";
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: 0.58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="radio"]:checked ~ .handle label:before {
  content: "\f078";
}

.accordion {
  max-width: 65em;
}

.accordion p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 570px) {
  .responsiveBg3 {
    height: 235vh;
  }
  .col-4 {
    max-width: 100% !important;
  }
  #faqAccordian {
    margin-right: 5px !important;
    margin-left: 15px;
  }
  .listi {
    margin-left: 15px !important;
  }
  .responsiveRow3 {
    margin-left: 36px !important;
    width: 81%;
    margin-top: 13px;
  }
}
