.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter: brightness(0.8);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("./codingBG1.jpg");
}
.info {
  width: 100%;
  height: min-content;
  color: black;
  font-weight: 0 !important;
}
.carousel-item,
.carousel-item.active {
  align-items: center;
}
.carousel-item > img {
  width: 100%;
}
#picrow {
  justify-content: center;
  overflow: scroll;
  margin-top: 24px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}
.scroll {
  color: violet;
  display: inline-block;
  margin-right: 29px;
  font-weight: 600;
  font-size: 19px;
}
.sicon {
  margin-right: 4px;
  font-weight: 400;
}
.langtit {
  color: cornsilk;
  margin-left: 28px;
}
#crow {
  width: 100%;
  display: inline-flex;
  overflow: scroll;
  height: 35em;
  /* justify-content: baseline; */
  justify-content: center;
  /* margin-left: 26px; */
  /* margin-right: 2px; */
  margin-top: 43px;
}
.card {
  margin-right: 23px !important;
  background-color: #181616;
}
.cdiv {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 70px;
  overflow: scroll;
}
#BgPortpg {
  height: 137vh;
}
.card-body {
  color: violet;
  height: 15em;
  overflow: scroll;
  background-color: #181616;
}

.list-group {
  width: fit-content;
}
.list-group-flush .list-group-item:first-child {
  border-top-width: 0;
  color: violet;
  background-color: #181616;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #181616 !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.snip1584 h5 {
  font-weight: normal;
  background-color: pink;
  color: black !important;
  padding: 3px 10px;
  transform: translateY(-100%);
  transition-delay: 0s;
}
.slick-slide.slick-active.slick-current {
}
@media only screen and (max-width: 570px) {
  #BgPortpg {
    height: 245vh;
  }
  .news {
    width: 87% !important;
    margin-left: 24px !important;
  }
  #crow {
    margin-left: 0px !important;
  }
  .responsiveRow2 {
    margin-left: 40px !important;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-top: 30px;
  }
  .info {
    font-size: small;
  }
}
